Personal-Website/xml-HW/textbooks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textbooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="publiser" type="xs:string" />
              <xs:element name="publiser-site" type="xs:string" />
              <xs:element name="year" type="xs:unsignedShort" />
              <xs:element name="ISBN" type="xs:string" />
              <xs:element name="authorsFName" type="xs:string" />
              <xs:element name="authorsLName" type="xs:string" />
              <xs:element name="coverType" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
